@import "./normalize.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol[none],
ul[none] {
  list-style: none;
}

*[block] {
  display: block;
}

*[hide] {
  display: none;
}